#menu_wrapper {
	display: none;
	z-index: 997;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: #00000050;
}
#menu_wrapper > #menu {
	background: #fff;
	padding-top: 7rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	border-radius: 0 0 2rem 2rem;
}
#menu > li {
	display: flex;
	align-items: center;
	margin-bottom: 0.3rem;
}
#menu > li > i {
	color: #6B75CA;
	font-size: 2.3rem;
}
#menu > li > p {
	color: #6B75CA;
	font-size: 1.3rem;
}
#menu_blank {
	width: 100%;
	height: 100%;
}