#reservation_prompt {
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000070;
	
}
.prompt {
	border-radius: 2rem;
	background: #fff;
	padding: 1rem;
}
#re_pr_frame {
	display: flex;
	justify-content: center;
	margin: 0 2rem;
	position: relative;
	width: 100%;
	
}
#re_pr_ment {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
#re_pr_ment > p {
	font-size: 1.2rem;
}
#re_pr_ment > div {
}
#re_pr_ment > div > #re_pr_num {
	font-size: 8rem;
}
#re_pr_frame > #re_pr_btn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	align-items: flex-end;
}
#re_pr_frame > #re_pr_btn > i {
	font-size: 3rem;
	margin-right: 0.5rem;
	padding: 0.2rem;
	cursor: pointer;
}
#re_pr_frame > #re_pr_btn > i#re_ok {
	background-color: #32BE38;
	border-radius: 50%;
	color: #fff;
}
#re_pr_ok_frame {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 2rem;
	padding: 2.5rem 0;
}
#re_pr_ok_frame > i {
	background: #32BE38;
	border-radius: 50%;
	color: #FFF;
	font-size: 5.0rem;
	padding: 0.7rem;
}
#re_pr_ok_frame > p {
	font-size: 1.3rem;
	margin-top: 1rem;
}
#re_pr_wrong_frame {
	display: none;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	margin: 0 2rem;
	position: relative;
}
#re_pr_wrong_frame > #re_pr_wrong_ment {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 4rem;
}
#re_pr_wrong_frame > #re_pr_wrong_ment > i {	
	border-radius: 50%;
	color: #000;
	font-size: 5.0rem;
	padding: 0.7rem;
	margin-bottom: 1rem;
}
#re_pr_wrong_frame > #re_pr_wrong_ment > p {
	font-size: 1.3rem;
	
}
#re_pr_wrong_frame > #re_pr_wrong_btn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	align-items: flex-end;
}
#re_pr_wrong_frame > #re_pr_wrong_btn i {
	font-size: 3rem;
	margin-right: 0.5rem;
	padding: 0.2rem;
	cursor: pointer;
}
#re_pr_wrong_frame i#re_pr_cancel {
	background-color: #32BE38;
	border-radius: 50%;
	color: #fff;
}
#re_pr_wrong_frame i#re_pr_close {

}
#re_pr_cancel_frame {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 2rem;
}
#re_pr_cancel_frame > i {
	background: #32BE38;
	border-radius: 50%;
	color: #FFF;
	font-size: 5.0rem;
	padding: 0.7rem;
	margin-bottom: 1rem;
}
#re_pr_cancel_frame > p {
	font-size: 1.3rem;
}
/*	Ticket Prompt*/
#ticket_prompt {
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000070;
	
}
#ti_pr_frame {
	display: flex;
	justify-content: center;
	margin: 0 2rem;
	position: relative;
	width: 100%;
	
}
#ti_pr_ment {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
#ti_pr_ment > p {
	font-size: 1.2rem;
}
#ti_pr_ment > div {
}
#ti_pr_ment > div > #ti_pr_num {
	font-size: 8rem;
}
#ti_pr_frame > #ti_pr_btn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	align-items: flex-end;
}
#ti_pr_frame > #ti_pr_btn > i {
	font-size: 3rem;
	margin-right: 0.5rem;
	padding: 0.2rem;
	cursor: pointer;
}
#ti_pr_frame > #ti_pr_btn > i#ti_ok {
	background-color: #32BE38;
	border-radius: 50%;
	color: #fff;
}

/*		qr_scale	*/
#qr_scale {
	display: none;
	opacity: 0.0;
	justify-content: center;
	align-items: center;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000070;
}
#qr_scale > #qr_scale_img {
	position: relative;
	width: 100%;
	padding: 2rem;
}
#qr_scale_img > #qr_scale_close {
	position: absolute;
	bottom: -3rem;
	right: 2rem;
	color: #fff;
	background:#6b75CA;
	border-radius: 50%;
	padding: 0.5rem;
	font-size: 3.0rem;
}
div#qr_scan_test {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1rem;
}
div#qr_scan_test > p {
	color: #fff;
	text-decoration: underline;
}
i.qr_scan_element {
	display: none;
	opacity: 0.0;
	position: absolute;
	top: 35%;
	left: 37%;
	padding: 2rem;
	color: #fff;
	font-size: 5.0rem;
	border-radius: 50%;
}
i#qr_scan_ok {
	background: #32BE38;
}
i#qr_scan_fail {
	background: #FF0000;
}